[Path]
ProcessingPathway="S:"
ScrubPath="S:\SmartSPIM_Data"

[Usage]

Queue = True

[Tile]
Middle = True
Correct = True
Preview = True
Radius = 50
Overlap = 10
MIP_% = 30
Rename = True
IMS = False
Destripe_Volume = "S:\"

[AutoStitchParms]
ZS_radius = 50
tc_sigma_l = 0.35
tc_sigma_u = 2.5
tc_bal_1 = 0.5
tc_bal_u = 1.5
num_workers = 12
