[Path]
ProcessingPathway="S:"

StitchImport="C:\Program Files\SmartSPIM\StitchImport.bat"

StitchCalc="C:\Program Files\SmartSPIM\StitchCalc.bat"

StitchMerge="C:\Program Files\SmartSPIM\StitchMerge.bat"

[Usage]

Queue = "True"

[3.6x]
Pix=100
Vr=4
Vc=0
Hr=5
Hc=9

[Tile]
Middle = "True"
Correct = "True"
