[Path]
ProcessingPathway="S:"

StitchImport="C:\Program Files\SmartSPIM\StitchImport.bat"

StitchCalc="C:\Program Files\SmartSPIM\StitchCalc.bat"

StitchMerge="C:\Program Files\SmartSPIM\StitchMerge.bat"

[Usage]

Queue = True

[Tile]
Middle = True
Correct = True
Preview = True
Radius = 50
Overlap = 10
MIP_% = 30
Rename = True
Destripe_Volume = "S:\"
